<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectDavomat.WebSite</title>

  <!-- Google Fonts -->
  <link href="./mrtm.uz_files/css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./mrtm.uz_files/aos.css" rel="stylesheet">
  <link href="./mrtm.uz_files/bootstrap.min.css" rel="stylesheet">
  <link href="./mrtm.uz_files/bootstrap-icons.css" rel="stylesheet">
  <link href="./mrtm.uz_files/boxicons.min.css" rel="stylesheet">
  <link href="./mrtm.uz_files/glightbox.min.css" rel="stylesheet">
  <link href="./mrtm.uz_files/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./mrtm.uz_files/style.css" rel="stylesheet">
  <link rel="stylesheet" href="./mrtm.uz_files/stylesheet.css">

  <!-- =======================================================
  * Template Name: BizLand - v3.7.0
  * Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>
<body data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="0">

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center ms-2"><a href="mailto:admin@mrtm.uz">admin@mrtm.uz</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+998 (73) 254-24-04</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="http://mrtm.uz/#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="http://mrtm.uz/#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="http://mrtm.uz/#" class="linkedin"><i class="bi bi-telegram"></i></a>
        <i class="bi bi-pin d-flex align-items-center ms-2">  Farg'ona viloyati Marg'ilon shahar Xiyobon ko'chasi 65z uy</i>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="http://mrtm.uz/index.html"><img src="./mrtm.uz_files/rtm.png" alt=""></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="http://mrtm.uz/#hero">Bosh sahifa</a></li>
          <li><a class="nav-link scrollto" href="http://mrtm.uz/#about">Biz haqimizda</a></li>
          <li><a class="nav-link scrollto" href="http://mrtm.uz/#services">Xizmat turlari</a></li>
          <li><a class="nav-link scrollto" href="http://mrtm.uz/#team">Jamoamiz</a></li>

          <li><a class="nav-link scrollto" href="http://mrtm.uz/#contact">Aloqa</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container aos-init aos-animate" data-aos="zoom-out" data-aos-delay="100">
      <h1>Dasturchilar  <span>Markazi</span></h1>
      <h2>Yosh dasturchilarni yetishtirib chiqarish bo'yicha eng foal</h2>
      <div class="d-flex">
        <a href="http://mrtm.uz/#about" class="btn-get-started scrollto">Kurslar haqida</a>
        <a href="https://www.youtube.com/watch?v=caYjg0qnQrU" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Biz haqimizda qisqacha</span></a>
      </div>
    </div>
  </section><!-- End Hero -->

        <main id="main">
            @RenderBody()
        </main>




      <a href="http://mrtm.uz/#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="./mrtm.uz_files/purecounter.js.Без названия"></script>
      <script src="./mrtm.uz_files/aos.js.Без названия"></script>
      <script src="./mrtm.uz_files/bootstrap.bundle.min.js.Без названия"></script>
      <script src="./mrtm.uz_files/glightbox.min.js.Без названия"></script>
      <script src="./mrtm.uz_files/isotope.pkgd.min.js.Без названия"></script>
      <script src="./mrtm.uz_files/swiper-bundle.min.js.Без названия"></script>
      <script src="./mrtm.uz_files/noframework.waypoints.js.Без названия"></script>
      <script src="./mrtm.uz_files/validate.js.Без названия"></script>

      <!-- Template Main JS File -->
      <script src="./mrtm.uz_files/main.js.Без названия"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
