@{
    ViewData["Title"] = "Company Page";
    Layout = "_Layout";
}
  <div class="row mt-5 d-flex justify-content-center">
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-shopping-bag icon"></span>
                    <div class="card-body">
                        <a href="Options/tarif.html" class="btn btn-primary">Tariflar <span class="las la-arrow-right"></span></a>
                    </div>
       </div>
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-globe icon"></span>
                    <div class="card-body">
                        <div>
                            <a href="Packets/internet.html" class="btn btn-primary">Internet <span class="las la-arrow-right"></span></a>
                        </div>
                    </div>
       </div>
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-phone icon"></span>
                    <div class="card-body">
                        <a href="Packets/daqiqa.html" class="btn btn-primary">Daqiqalar <span class="las la-arrow-right"></span></a>
                    </div>
       </div>
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-comments icon"></span>
                    <div class="card-body">
                        <div>
                            <a href="Packets/sms.html" class="btn btn-primary">SMS <span class="las la-arrow-right"></span></a>
                        </div>
                    </div>
       </div><div class="clearfix hidden-sm-up"></div>
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-user-astronaut icon"></span>
                    <div class="card-body">
                        <a href="Options/contact.html" class="btn btn-primary">Kontaktlar <span class="las la-arrow-right"></span></a>
                    </div>
       </div>
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-sim-card icon"></span>
                    <div class="card-body">
                        <a href="Options/foydali.html" class="btn btn-primary">Foydali <span class="las la-arrow-right"></span></a>
                    </div>
       </div>
       <div class="card col-xs-6 col-sm-2 card-stil">
                    <span class="las la-cog icon"></span>
                    <div class="card-body">
                        <a href="Options/service.html" class="btn btn-primary">Xizmatlar <span class="las la-arrow-right"></span></a>
                    </div>
       </div>
  </div>