@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="d-flex justify-content-between mt-5 com-header">
    <h4>All statistices</h4>
    <span class="btn btn-success"><i class="las la-plus"></i> Add new</span>
</div>
<hr>
<div class="row mt-5 d-flex justify-content-center">
    <div class="card col-xs-6 col-sm-2 card-stil">
        <span class="las la-shopping-bag icon"></span>
        <div class="card-body">
            <a href="index.html" class="btn btn-primary">Some <span class="las la-arrow-right"></span></a>
        </div>
    </div>
</div>  

