@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model AllStatisticViewModel
<div class="d-flex justify-content-between mt-5 com-header">
    <h4>Barcha statistikalar</h4>
</div>
<hr>
<div class="row mt-5 d-flex justify-content-center">
    <div class="card col-xs-6 col-sm-2 card-stil">
        <span style="padding-top: 2rem; font-size: 3.4rem; ">@Model.Services</span>
        <div class="card-body">
            <span class="btn btn-primary">Xizmatlar</span>
        </div>
    </div>
    <div class="card col-xs-6 col-sm-2 card-stil">
        <span style="padding-top: 2rem; font-size: 3.4rem; ">@Model.Courses</span>
        <div class="card-body">
            <span class="btn btn-warning">Kurslar</span>
        </div>
    </div>
    <div class="card col-xs-6 col-sm-2 card-stil">
        <span style="padding-top: 2rem; font-size: 3.4rem; ">@Model.Staffs</span>
        <div class="card-body">
            <span class="btn btn-secondary">Xodimlar</span>
        </div>
    </div>
    <div class="card col-xs-6 col-sm-2 card-stil">
        <span style="padding-top: 2rem; font-size: 3.4rem; ">@Model.Leaders</span>
        <div class="card-body">
            <span class="btn btn-success">Rahbarlar</span>
        </div>
    </div>
</div>
