@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@model AllStatisticViewModel
<div class="d-flex justify-content-between mt-5 com-header">
    <h4>Barcha natijalar</h4>
    <h4></h4>
    <p>@Model.Courses.Count()"</p>
</div>
<hr>
<div class="row mt-5 d-flex justify-content-center">
    <div class="card col-xs-6 col-sm-2 card-stil">
        <span class="las la-shopping-bag icon"></span>
        <div class="card-body">
            <a href="index.html" class="btn btn-primary">Some <span class="las la-arrow-right"></span></a>
            <input value="@Model.Courses.Count()" width="100px" />
        </div>
    </div>
</div>  
@{
    foreach(var item in Model)
    {
        
    }
}
