<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectDavomat.AdminPanel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet"href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style-packets.css" />
    <link rel="stylesheet" href="~/css/style-company.css" />
    <link rel="stylesheet" href="~/css/info-style.css" />

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />
    

</head>
<body>

    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class="las la-stream"></span><span>RTM</span></h1>
        </div>

        <div class="sidebar-menu">
            <ul>
                <li>
                    <a asp-controller="home" asp-action="index"><span class="las la-home"></span>
                        <span>Bosh sahifa</span></a>
                </li>
                <li>
                    <a asp-controller="course" asp-action="courses"><span class="las la-bullhorn"></span>
                        <span>Course</span></a>
                </li>
                <li>
                    <a asp-controller="service" asp-action="services"><span class="las la-wallet"></span>
                        <span>Services</span></a>
                </li>
                <li>
                    <a asp-controller="staff" asp-action="staffs"><span class="las la-id-card"></span>
                        <span>Staffs</span></a>
                </li>
                <li>
                    <a asp-controller="teacher" asp-action="teachers"><span class="las la-user-secret"></span>
                        <span>Teachers</span></a>
                </li>
                <li class="out">
                    <a href=""><span><i class="las la-arrow-circle-left"></i></span>
                        <span>Log out</span></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <header>
                <div class="user-wrapper">
                    <img src="~/images/user.png" width="40px" height="40px" alt="" />
                    <div>
                        <h4>Ilyosbek Davronov</h4>
                        <small>Supper admin</small>
                    </div>
                </div>
         </header>
    </div>
        <!--Main start-->
        <main role="main" class="main-content">
            @RenderBody()
        </main>
        <!--Main end-->

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
