@{
    ViewData["Title"] = "AddCourse Page";
    Layout = "_Layout";
}
            <div class="box-header position-relative table-header mt-2">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Add new course</h3>
                </div>
            </div>
            <form>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label for="title">Name</label>
                    <input type="text" class="form-control" id="title" placeholder="Packet title">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label for="description">Duration</label>
                    <textarea class="form-control" id="description" placeholder="Course duration" rows="12"></textarea>
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label for="duration">Teacher Name</label>
                    <input type="text" class="form-control" id="duration" placeholder="Teacher Name">
                </div>
                <div class="input-group mx-4 "style="padding: 10px; font-size: 18px;">
                    <input type="file" class="form-control" id="inputGroupFile02">
                    <label class="input-group-text" for="inputGroupFile02"></label>
                  </div>
                <div class="button-group">
                    <a href="/html/index.html">
                        <span class="btn btn-success">Saqlash</span>
                    </a>
                    <a href="/html/index.html">
                        <span class="btn btn-info">Bekor qilish</span>
                    </a>
                </div>
            </form>