@{
    ViewData["Title"] = "Add Techer Page";
    Layout = "_Layout";
}
@model AddTeacherViewModel
            <div class="box-header position-relative table-header mt-2">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Yangi mentor qo'shish</h3>
                </div>
            </div>
            <form class="mx-4" asp-controller="teacher" asp-action="addteacher" method="post">
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="FirstName">Ism</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="title" placeholder="Mentor ismi">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="LastaName">Familya</label>
                    <input asp-for="LastaName" type="text" class="form-control" id="title" placeholder="Mentor familyasi">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Skills">Mahorat</label>
                    <textarea asp-for="Skills" class="form-control" id="description" placeholder="Mentor mahorati" rows="12"></textarea>
                </div>
                <div class="input-group mx-4 "style="padding: 10px; font-size: 18px;">
                    <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Experince">Tajriba</label>
                    <input asp-for="Experince" type="text" class="form-control" id="title" placeholder="Mentor tajribasi">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Social">Tajriba</label>
                    <input asp-for="Social" type="text" class="form-control" id="title" placeholder="Mentor Kontakti">
                </div>
                @*Save Cencel Button*@
                <div class="button-group text-center my-5">
                    <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                        Saqlash
                    </button>
                    <a asp-controller="teacher" asp-action="staffs">
                        <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
                    </a>
                </div>
            </form>