@{
    ViewData["Title"] = "Add Staff Page";
    Layout = "_Layout";
}
@model Staff
            <div class="box-header position-relative table-header mt-2">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Add new course</h3>
                </div>
            </div>
            <form class="mx-4" asp-controller="staff" asp-action="addstaffs" method="post">
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="FirstName">FirstName</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="title" placeholder="Taecher FirstName">
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="LastName">LastName</label>
                    <input asp-for="LastName" type="text" class="form-control" id="title" placeholder="Service title">
                </div>
                <div class="input-group mx-4 "style="padding: 10px; font-size: 18px;">
                    <input asp-for="Image" type="file" class="form-control" id="inputGroupFile02">
                    <label asp-for="Image" class="input-group-text" for="inputGroupFile02"></label>
                </div>
                <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="About">About</label>
                    <textarea asp-for="About" class="form-control" id="description" placeholder="About staff" rows="12"></textarea>
                </div>
                 <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
                    <label asp-for="Position">Position</label>
                    <input asp-for="Position" type="text" class="form-control" id="title" placeholder="Service title">
                </div>
                @*Save, Cancel Button*@
                <div class="button-group">
                    <a asp-controller="" asp-action="" style="margin-left:570px; width:200px;">
                        <span class="btn btn-success" style=" width:200px;">Saqlash</span>
                    </a>
                    <a asp-controller="" asp-action="">
                        <span class="btn btn-info" style=" width:200px;">Bekor qilish</span>
                    </a>
                </div>
            </form>

