@{
    ViewData["Title"] = "Add Service Page";
    Layout = "_Layout";
}
@model AddServiceViewModel
   <div class="box-header position-relative table-header mt-2">
        <div class="d-flex justify-content-between mt-3 com-header">
            <h3>Yangi xizmat qo'shish</h3>
        </div>
    </div>
    <form class="mx-4" asp-controller="service" asp-action="addservices" enctype="multipart/form-data" method="post">
        <select class="form-select mx-4" asp-for="ServiceType"  style="padding: 10px; font-size: 18px;" aria-label="Default select example">
            <option selected disabled>-- Xizmat turini tanlang --</option>
           <option>Xizmat ko'rsatish</option>
           <option>Ijara</option>
        </select>
        <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="Name">Nomi</label>
            <input asp-for="Name" type="text" class="form-control" id="title" placeholder="Kurs nomi">
        </div>
          <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="LifeTimeService">Davomiyligi</label>
            <input asp-for="LifeTimeService" type="text" class="form-control" id="title" placeholder="Servis davomoyligi">
        </div>
        <div class="form-group mx-4" style="padding: 10px; font-size: 18px;">
            <label asp-for="Price">Narxi</label>
            <input asp-for="Price" type="text" class="form-control" id="title" placeholder="Kurs narxi">
        </div>
        <div class="input-group mx-4 "style="padding: 10px; font-size: 18px;">
            <input type="file" asp-for="Image" accept="image/*" class="form-control" id="inputGroupFile02">
        </div>
        @*Button group*@
        <div class="button-group text-center my-5">
            <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                Saqlash
            </button>
            <a asp-controller="service" asp-action="services">
                <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
            </a>
         </div>
    </form>