@{
    ViewData["Title"] = "Service Page";
    Layout = "_Layout";
}
@model List<Service>
     <div class="row blok mt-5">
        <div class="col-xs-11">
            <div class="box data-table">
                <div class="box-header position-relative table-header mt-2">
                    <div class="d-flex justify-content-between mt-3 mx-4 com-header">
                        <h3>Service</h3>
                        <a asp-controller="service" asp-action="addservices">
                            <span class="btn btn-success"><i class="las la-plus"></i>Add Service</span>
                        </a>
                    </div>
                </div>
                <div class="jadval box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Nomi</th>
                            <th>Davomiyligi</th>
                            <th>Narxi</th>
                            <th>Rasm</th>
                            <th>Action</th>
                        </tr>
                    @foreach(var item in Model)
                    {
                      <tr>
                            <td>@item.Name</td>
                            <td>
                                @item.LifeTimeService
                            </td>
                            <td>@item.Price</td>
                            <td><img src="@item.Image" asp-append-version="true" style="width: 50px;"/></td>
                            <td class="cell">
                                <a asp-controller="" asp-action="" >
                                    <span class="btn btn-success">Edite</span>
                                </a>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Delete</button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Are you realy want delete this course?</h4>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary">I am sure</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>   
                    }
                   
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
