@{
    ViewData["Title"] = "Edit Category Page";
    Layout = "_Layout";
}
@model CategoryViewModel

            <div class="box-header position-relative table-header mt-5">
                <div class="d-flex justify-content-between mt-3 com-header">
                    <h3>Kategoriyani tahrirlash</h3>
                </div>
            </div>
            <form class="mx-4" asp-controller="category" asp-action="edit" method="post" >
                <input type="hidden" asp-for="Id" value="@Model.Id"/>
                <div class="form-group" style="font-size: 18px;">
                    <label asp-for="Name">Nomi</label>
                    <input asp-for="Name" value="@Model.Name" autocomplete="off" type="text" class="form-control" id="title" placeholder="Kategoriya nomi">
                </div>
                <div class="button-group text-center">
                    <button type="submit" class="btn btn-success me-5" style=" width:200px; " >
                        Saqlash
                    </button>
                    <a asp-controller="category" asp-action="index">
                        <span class="btn btn-info"  style=" width:200px;">Bekor qilish</span>
                    </a>
                </div>
            </form>