@{
    ViewData["Title"] = "Category Page";
    Layout = "_Layout";
}
@model List<CategoryViewModel>
    <div class="row blok mt-5">
        <div class="col-xs-11">
            <div class="box data-table">
                <div class="box-header position-relative table-header mt-2">
                    <div class="d-flex justify-content-between mt-3 mx-4 com-header">
                        <h3>Kurs kategoriyalari</h3>
                        <a asp-controller="category" asp-action="add">
                            <span class="btn btn-success"><i class="las la-plus"></i>Yangi qo'shish</span>
                        </a>
                    </div>
                </div>
                <div class="jadval box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>Id</th>
                            <th>Kategoriya nomi</th>
                            <th style="text-align:center;">Action</th>
                        </tr>
                    @foreach(var item in Model)
                    {
                     <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td class="cell">
                               <a asp-controller="category" asp-action="edit" asp-route-id="@item.Id">
                                    <span class="btn btn-success">Tahrirlash</span>
                                </a>
                                 <a asp-controller="category" asp-action="delete" asp-route-id="@item.Id"
                                    onclick="return confirm('Rostdan ham o\'chirmoqchisiz?');" class="btn btn-danger">O'chirish
                                </a>   
                            </td>
                    </tr>   
                    }
                    </table>
                </div>
            </div>
        </div>
    </div>
